
#
# config classification:shortname,short description,priority
config classification: C2,C2,1
config classification: PyXie,PyXie,1
config classification: agfspyanddnespy,agfspyanddnespy,1
config classification: ancientsfate,ancientsfate,1
config classification: apt36,apt36,1
config classification: attempted-admin,attempted-admin,1
config classification: attempted-recon,attempted-recon,1
config classification: bad-unknown,bad-unknown,1
config classification: bandook,bandook,1
config classification: bazarbackdoor,bazarbackdoor,1
config classification: beacon,beacon,1
config classification: blackkingdom,blackkingdom,1
config classification: bluemoon,bluemoon,1
config classification: brata,brata,1
config classification: c2,c2,1
config classification: camelot,camelot,1
config classification: cdrthief,cdrthief,1
config classification: certfrapt31,certfrapt31,1
config classification: chaes,chaes,1
config classification: chinesefederation,chinesefederation,1
config classification: cisac,cisac,1
config classification: cisaconti,cisaconti,1
config classification: clop,clop,1
config classification: cobaltstrike,cobaltstrike,1
config classification: comrat,comrat,1
config classification: covid-19-agent-tesla,covid-19-agent-tesla,1
config classification: covid-19-agent-tesla-test-rule,covid-19-agent-tesla-test-rule,1
config classification: cpc,cpc,1
config classification: crutch,crutch,1
config classification: csti-e,csti-e,1
config classification: csti-g,csti-g,1
config classification: csti-rule-ip-test,csti-rule-ip-test,1
config classification: csti-t,csti-t,1
config classification: csti-x,csti-x,1
config classification: cve-2020-1472-zerologon,cve-2020-1472-zerologon,1
config classification: cve-2020-5902,cve-2020-5902,1
config classification: cve202120090,cve202120090,1
config classification: cve202135394,cve202135394,1
config classification: cve202142013,cve202142013,1
config classification: darkirc,darkirc,1
config classification: deathstalker,deathstalker,1
config classification: defray777,defray777,1
config classification: dharma,dharma,1
config classification: doppelpaymer,doppelpaymer,1
config classification: dridex,dridex,1
config classification: dtm,dtm,1
config classification: dtmtest,dtmtest,1
config classification: egregor,egregor,1
config classification: emotet,emotet,1
config classification: ereshkigal,ereshkigal,1
config classification: evilnum,evilnum,1
config classification: exusiai,exusiai,1
config classification: finSpy2,finSpy2,1
config classification: finspy,finspy,1
config classification: firestarter,firestarter,1
config classification: garmin,garmin,1
config classification: generalfrost,generalfrost,1
config classification: globeimposter,globeimposter,1
config classification: gravityrat,gravityrat,1
config classification: hathawayflash,hathawayflash,1
config classification: hibana,hibana,1
config classification: icedid,icedid,1
config classification: imhotep,imhotep,1
config classification: irhck,irhck,1
config classification: joker,joker,1
config classification: karma,karma,1
config classification: kashmirblack,kashmirblack,1
config classification: kimsuky,kimsuky,1
config classification: kirin,kirin,1
config classification: kobalos,kobalos,1
config classification: konan,konan,1
config classification: lockbit,lockbit,1
config classification: lokibot,lokibot,1
config classification: magniber,magniber,1
config classification: masslogger,masslogger,1
config classification: maze,maze,1
config classification: mirai,mirai,1
config classification: misc-activity,misc-activity,1
config classification: mitre,mitre,1
config classification: modpipe,modpipe,1
config classification: montysthree,montysthree,1
config classification: mosaicregressor,mosaicregressor,1
config classification: mountlocker,mountlocker,1
config classification: nanocore,nanocore,1
config classification: nefertari,nefertari,1
config classification: netwalker,netwalker,1
config classification: newrevil,newrevil,1
config classification: newrevilbeta,newrevilbeta,1
config classification: nisac,nisac,1
config classification: oldgremlin,oldgremlin,1
config classification: phishing,phishing,1
config classification: phobos,phobos,1
config classification: plugx,plugx,1
config classification: policy-violation,policy-violation,1
config classification: protocol-command-decode,protocol-command-decode,1
config classification: proxylogon,proxylogon,1
config classification: purplefox,purplefox,1
config classification: qakbot,qakbot,1
config classification: raccoon,raccoon,1
config classification: rampantkitten,rampantkitten,1
config classification: recordedfuturetag28,recordedfuturetag28,1
config classification: remote-code-execution,remote-code-execution,1
config classification: revil,revil,1
config classification: ryuk,ryuk,1
config classification: ryuk-ransomware-domain,ryuk-ransomware-domain,1
config classification: samsam,samsam,1
config classification: slothfulmedia,slothfulmedia,1
config classification: snake,snake,1
config classification: sodinokibi,sodinokibi,1
config classification: solarwinds,solarwinds,1
config classification: stantinko,stantinko,1
config classification: suncrypt,suncrypt,1
config classification: supernova,supernova,1
config classification: suzaku,suzaku,1
config classification: taidoor,taidoor,1
config classification: th276,th276,1
config classification: thanos,thanos,1
config classification: threatStreamnemty,threatStreamnemty,1
config classification: threatstreamapt1,threatstreamapt1,1
config classification: threatstreamapt27,threatstreamapt27,1
config classification: threatstreamapt3,threatstreamapt3,1
config classification: threatstreamapt40,threatstreamapt40,1
config classification: threatstreamapt41,threatstreamapt41,1
config classification: threatstreamclop,threatstreamclop,1
config classification: threatstreamconti,threatstreamconti,1
config classification: threatstreamdoppelpaymer,threatstreamdoppelpaymer,1
config classification: threatstreammaze,threatstreammaze,1
config classification: threatstreamnetwalker,threatstreamnetwalker,1
config classification: threatstreamsekhmet,threatstreamsekhmet,1
config classification: threatstreamtag22,threatstreamtag22,1
config classification: threatstreamtycoon,threatstreamtycoon,1
config classification: tisac,tisac,1
config classification: trickbot,trickbot,1
config classification: trojan-activity,trojan-activity,1
config classification: trojan-activity-test,trojan-activity-test,1
config classification: tsunami,tsunami,1
config classification: ttttttt,null,1
config classification: unit42mustangpanda,unit42mustangpanda,1
config classification: vadokrist,vadokrist,1
config classification: vladilena,vladilena,1
config classification: void,void,1
config classification: wapdropper,wapdropper,1
config classification: waterbear,waterbear,1
config classification: web-application-attack,web-application-attack,1
config classification: winntitag,winntitag,1
config classification: worldpress-file-manager,worldpress-file-manager,1
config classification: xmrig,xmrig,1
config classification: yeul,yeul,1
config classification: zhtrap,zhtrap,1
config classification: zloader,zloader,1
